header(class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow")
  div(class="container-fluid flex-nowrap justify-content-center align-items-center")
    img(
      src='/public/img/inf-logo.png', 
      alt="Instituto de Informática - UFRGS",
      title="Instituto de Informática - UFRGS"
      style="width:57px; margin: 0.5rem auto; display:block", 
    )
        
        