block variables 

<html>
  head
    block styles
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT", crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
      link(href='/public/css/style.css', rel="stylesheet")
  
    block head_scripts
      script(src="https://code.jquery.com/jquery-3.6.1.min.js", integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=", crossorigin="anonymous")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous")
          
    block metadata
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title= (page_title || 'LEAF | UFRGS 2022')
  body
    include _header

    main(class="container-fluid")
      block main
             
    block scripts 
</html>