extends templates/layout

block variables 
  - var page_title = 'Acordãos por ministro relator';

append title 
    title= (page_title || 'LEAF | UFRGS 2022')

block chart 
  div(style="width:80%; height:auto;")
    canvas#myChart 
    div 
      p#chart
  
  script.
    $(document).ready(() => {
      Chart.defaults.set('plugins.datalabels', {
        color: '#FE777B'
      });

      const dt = !{ chart };
      const labels = dt.map(d => `${d.monthName.slice(0,3)}/${d.year}`);

      const data = {
        labels,
        datasets: [{
          label: 'Acórdãos',
          backgroundColor: ['#004c6d'],
          borderColor: ['#004c6d'],
          borderWidth: 0,
          borderAlign: 'inner',
          data: dt.map(d => d.count),
          datalabels: {
            color: '#ff0000'
          }
        }]
      };

      const config = {
        type: 'bar',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'right',
              display: false,
            },
            title: {
              display: true,
              text: 'Acórdãos / Ano'
            },
          },
        },
        tooltips: {
          enabled: false
        },
        animation: {
          duration: 0,
          onComplete: function () {
            var ctx = this.chart.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, 'normal', Chart.defaults.global.defaultFontFamily);
            ctx.fillStyle = this.chart.config.options.defaultFontColor;
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';
            this.data.datasets.forEach(function (dataset) {
              for (var i = 0; i < dataset.data.length; i++) {
                var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
                ctx.fillText(dataset.data[i], model.x, model.y - 5);
              }
            });
          }
        }
      };

      const myChart = new Chart(
        $('#myChart'), config
      );  
    })
    