extends templates/home

block variables 
  - var page_title = 'Exemplo';

append head_scripts 
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

append title 
    title= (page_title || 'LEAF | UFRGS 2022')

block main 
  div(class="container mb-4")
    h3(class="pb-2 mb-4 border-bottom mt-4") Acordãos
    div(class="row")
      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / ano

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / relator

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / relator / ano

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / redator

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

    div(class="row")
      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / redator / ano

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") pie_chart
            h5(class="card-title") Acórdãos / Órgão 
            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") stacked_bar_chart
            h5(class="card-title") Acórdãos / Órgão / ano

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col mb-4")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / categoria

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

    div(class="row")
      div(class="col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer

            h5(class="card-title") Acórdãos / categoria / ano
            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            a(href="#", class="text-primary") Ver dados
    
    h3(class="pb-2 mb-4 border-bottom mt-4") Decisões    
    div(class="row")
      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") pie_chart
            h5(class="card-title") Tipo de decisão

            p(class="card-text") Decisão por maioria de votos ou unânime
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") stacked_bar_chart
            h5(class="card-title") Tipo de decisão / ano

            p(class="card-text") Decisão por maioria de votos ou unânime
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados
      
      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") pie_chart
            h5(class="card-title") Adiamentos

            p(class="card-text") Votação e/ou julgamento adiados ou não
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados


      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") stacked_bar_chart
            h5(class="card-title") Adiamentos / ano

            p(class="card-text") Votação e/ou julgamento adiados ou não
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

    h3(class="pb-2 mb-4 border-bottom mt-4") Votos    
    div(class="row")
      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") pie_chart
            h5(class="card-title") Votos / acordão

            p(class="card-text") Quantidade de votos por acórdãos
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Votos / ministro

            p(class="card-text") Decisão por maioria de votos ou unânime
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

      div(class="col col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") stacked_bar_chart
            h5(class="card-title") Votos monocráticos / ano

            p(class="card-text") Decisão por maioria de votos ou unânime
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados

    h3(class="pb-2 mb-4 border-bottom mt-4") Localizações    
    div(class="row")
      div(class="col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / federação

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados
      
      div(class="col-3")
        div(class="card custom-card")
          div(class="card-body")
            div(class="icon")
              span(class="material-icons") equalizer
            h5(class="card-title") Acórdãos / Estado

            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content
            //- a(href="#", class="btn btn-primary") Go somewhere
            a(href="#", class="text-primary") Ver dados
     

block scripts 
  link(href='/public/css/style.css', rel="stylesheet")
    