extends templates/layout

block variables 
  - var page_title = 'Órgão julgador por ano';
  
append head_scripts
  script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")

append title 
  title= (page_title || 'LEAF | UFRGS 2022')

block chart 
  div#regions_div(style="width: 90%; height: 75vh;")
	
  script.
    $(document).ready(() => {
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['País', 'Acórdãos'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    });
    