div(class="col-md-3")
  div(class="position-sticky", style="top: 4rem;")
    div(class="p-4 mb-3 bg-light rounded")
      h4(class="fst-italic") LEAF
      p(class="mb-0") LEgal Agnostic Framework &copy; 2022
    
    div(class="p-4")
      h4(class="fst-italic") Estatísticas
      ol(class="list-unstyled mb-0")
        li
          a(href="/acordao-ano") Acórdãos por ano
        li
          a(href="/acordao-relator") Acordãos por ministro relator
        li
          a(href="/acordao-relator-presidente") Acordãos por ministro relator presidente
        li
          a(href="/acordao-redator") Acordãos por ministro redator
        li
          a(href="/acordao-redator-presidente") Acordãos por ministro redator presidente
        li
          a(href="/votos-acodao") Número de votos por acórdão
        li
          a(href="/votos-ministro") Votos por ministro
        

    div(class="p-4")
      h4(class="fst-italic") Institucional
      ol(class="list-unstyled")
      
        li
          a(href="https://www.inf.ufrgs.br/site/pos-graduacao/ppgc/", target="_blank" rel="noopener") PPGC
        li
          a(href="https://www.inf.ufrgs.br/site/", target="_blank" rel="noopener") Instituto de Informática
        li
          a(href="http://www.ufrgs.br/ufrgs/inicial", target="_blank" rel="noopener") UFRGS
